<div class="container" style="width:80vw">
    <div>
        <h2>Task information</h2>
    </div>
    <br>
    <div>
        <button type="button" class="btn" routerLink="../task">View</button>
    </div>
    <form (ngSubmit)="OnSubmit()" #addForm="ngForm">
        <div class="mb-3">
            <label for="taskdate" class="label">Task Date</label>
            <input type="string" class="form-control" id="taskdate"  name="TaskDate"
                [(ngModel)]="TaskDate">
        </div>
        <!-- <div class="mb-3">
            <input type="integer" class="form-control" id="userid" placeholder="User Id" name="UserId"
                [(ngModel)]="UserId">
        </div> -->
        <div class="mb-3">
            <label for="projectid" class="label">Project </label>
            <select class="form-select" id="projectid" name="ProjectId" [(ngModel)]="ProjectId">
                <option *ngFor="let project of Project" [value]="project.projectid">{{ project.projectname }}</option>
            </select>
        </div>
        <!-- <div class="mb-3">
            <label for="statusid">Status Id</label>
            <select class="form-select" id="statusid" name="StatusId" [(ngModel)]="StatusId">
                <option *ngFor="let status of Status" [value]="status.statusid">{{ status.statusname }}</option>
            </select>
        </div> -->

        <div class="mb-3">
            <label for="description" class="label">Description</label>
            <input type="integer" class="form-control" id="description" name="Description"
                [(ngModel)]="Description">
        </div>
        <div class="mb-3">
            <label for="exceptedtime" class="label">Expected Time (Hour)</label>
            <input type="integer" class="form-control" id="expectedtime" name="ExpectedTime"
                [(ngModel)]="ExpectedTime">
        </div>
        <div class="mb-3">
            <label for="actualtime" class="label">Actual Time (Hour)</label>
            <input type="integer" class="form-control" id="actualtime" name="ActualTime"
                [(ngModel)]="ActualTime">
        </div>
        <div class="mb-3">
            <label for="duedate" class="label">Due Date</label>
            <input type="string" class="form-control" id="duedate" name="DueDate"
                [(ngModel)]="DueDate">
        </div>
        <!-- <div class="mb-3">
            <input type="string" class="form-control" id="completeddate" placeholder="Completed Date"
                name="CompletedDate" [(ngModel)]="CompletedDate">
        </div> -->
        <div>
            <input type="submit" class="btn" value="Save">
        </div>
    </form>
</div>