<link rel="stylesheet" href="taskstatus-display.component.css">


<div class="container" style="width:100vw">
    <div>
        <h3>Task Status</h3>
    </div>
    <br>
    <a href="taskstatusadd" class="btn btn-primary">Add</a>
    <br>
    <br>
    <table class="table table-striped ">
        <thead class="thead-inverse">
            <tr>
                <td>Status Name</td>
                <td>Type</td>
                <td>Edit</td>
                <td>Delete</td>
               
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let taskstatus of taskstatuses ">
                <td> {{ taskstatus.statusname }} </td>
                <td> {{ taskstatus.type }} </td>
                <td><button type="button" class="btn btn-primary" routerLink="..//localhost:9090/user">Edit</button>
                </td>
                <td><button type="button" class="btn btn-danger"  (click)='removeClick(taskstatus.statusid)'>Delete</button></td>

            </tr>
        </tbody>
    </table>
</div>