<link rel="stylesheet" href="taskstatus-display.component.css">


<div class="container" style="width:80vw">
    <div>
        <h3>Task Status</h3>
    </div>
    <br>
    <div>
    <a href="taskstatusadd" *ngIf="user.user.roleid == 1 " class="btn">Add</a>
    </div>
    <br>
    <br>
    <table class="table table-striped ">
        <thead class="thead-inverse">
            <tr>
                <th>Status Name</th>
                <th>Type</th>
                <th *ngIf="user.user.roleid == 1 ">Edit</th>
                <th *ngIf="user.user.roleid == 1 ">Delete</th>
               
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let taskstatus of taskstatuses ">
                <td> {{ taskstatus.statusname }} </td>
                <td> {{ taskstatus.type }} </td>
                <td><button type="button" id="boot-icon" *ngIf="user.user.roleid == 1 " class="bi bi-pencil-square" style="font-size: 25px; border: 0px ; color: rgb(38, 101, 227); background: none;" routerLink="../taskstatusadd" [queryParams]="{id: taskstatus.statusid}"></button></td>
                <td><button type="button" id="boot-icon" *ngIf="user.user.roleid == 1 " class="bi bi-trash" style="font-size: 25px; border: 0px solid; color:rgb(192 60 73); background: none;"  (click)='removeClick(taskstatus.statusid)'></button></td>

            </tr>
        </tbody>
    </table>
</div>