<link rel="stylesheet" href="project-display.component.css">


<div class="container" style="width:100vw">
    <div>
        <h3>Project</h3>
    </div>
    <br>
    <a href="projectadd" class="btn">Add</a>
    <br>
    <br>
    <table class="table table-striped ">
        <thead class="thead-inverse">
            <tr>
                <th>Project Name</th>
                <th>Client Id</th>
                <th>Edit</th>
                <th>Delete</th>
               
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let project of projects ">
                <td> {{ project.projectname }} </td>
                <td> {{ project.clientid }} </td>
                <td><button type="button" class="btn" routerLink="../projectadd" [queryParams]="{id: project.projectid}">Edit</button></td>
                <td><button type="button" class="btn"  (click)='removeClick(project.projectid)'>Delete</button></td>           
            </tr>
        </tbody>
    </table>
</div>