<link rel="stylesheet" href="project-display.component.css">


<div class="container">
    <div>
        <h3>Project</h3>
    </div>
    <br>
    <div>
    <a href="projectadd" *ngIf="user.user.roleid == 1 " class="btn">Add</a>
    </div>
    <br>
    <br>
    <table class="table table-striped ">
        <thead class="thead-inverse">
            <tr>
                <th>Project Name</th>
                <th>Client</th>
                <th></th>
                <th></th>
               
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let project of projects ">
                <td> {{ project.projectname }} </td>
                <td> {{ project.tblClient.clientname }} </td>
                <td><button type="button" id="boot-icon" *ngIf="user.user.roleid == 1 " class="bi bi-pencil-square" style="font-size: 25px; border: 0px ; color: rgb(38, 101, 227); background: none;" routerLink="../projectadd" [queryParams]="{id: project.projectid}"></button></td>
                <td><button type="button" id="boot-icon" *ngIf="user.user.roleid == 1 " class="bi bi-trash" style="font-size: 25px; border: 0px solid; color:rgb(192 60 73); background: none;"  (click)='removeClick(project.projectid)'></button></td>           
            </tr>
        </tbody>
    </table>
</div>