 .active-link{
  -webkit-text-fill-color: #2b4c59;
  border-bottom: 2px solid ;
  font-weight: bold;
  text-underline-offset: 0.5rem;
 }
 .navbar-brand {
  font-size: 1.75rem;
  letter-spacing: 2px;
}
 .nav-link{
  margin-right: 9px ;
  font-size: 18px;
  color: black;
}
.nav-link:hover, .nav-link:active, .nav-link:focus{
  transform: translateY(-5px);
  color: #2b4c59;
}
.ms-auto{
  margin-right: 90px;
}