<div class="container" style="width:100vw">
    <div>
    <h2>Client information</h2>
    </div>
    <br>
    <div>
        <button type="button" class="btn" routerLink="../client">View</button>
    </div>
    <form (ngSubmit)="OnSubmit()" #addForm="ngForm" class="form">
        <div class="mb-3">     
            <input type="text" class="form-control" id="clientname" placeholder="Client Name" name="ClientName" [(ngModel)]="ClientName">
        </div>   
        <div class="mb-3">
            <input type="email" class="form-control" id="email" placeholder="Email" name="Email" [(ngModel)]="Email">   
        </div>
        <div class="mb-3">        
            <input type="Phone-No" class="form-control" id="contact" placeholder="Contact" name="Contact" [(ngModel)]="Contact">
        </div>
       <input type="submit" class="btn" value="Save">
    </form>
</div>

