<div class="container" style="width:100vw">
    <div class="text-center mb-4">
    <h2 class="text-center pt-3">Client information</h2>
    </div>
    <form (ngSubmit)="OnSubmit()" #addForm="ngForm">
        <div class="mb-3">     
            <input type="text" class="form-control" id="clientname" placeholder="Client Name" name="ClientName" [(ngModel)]="ClientName">
        </div>   
        <div class="mb-3">
            <input type="email" class="form-control" id="email" placeholder="Email" name="Eamil" [(ngModel)]="Email">   
        </div>
        <div class="mb-3">        
            <input type="Phone-No" class="form-control" id="contact" placeholder="Contact" name="Contact" [(ngModel)]="Contact">
        </div>
        <div>
        <input type="submit" class="btn" value="Save">
        </div>
    </form>
</div>

