.container{
  align-items: center !important;
  width: 120mm;
  margin-left: 50px;
}
.btn{
  background-color: #243e56;
  color: #d5dddf;
  margin-bottom: 15px;
}
.btn:hover{
  background-color: #95bccc;
  color: black;
}