    <div class="container">
            <div class="col-lg-4 m-auto rounded-top wrapper">
                <div class="text-center mb-4">
                <h2 class="text-center pt-3">Sign Up</h2>
                </div>
                <form action="#">
                   <div class="input-group mb-3">
                    <span class="input-group-text"></span>
                    <input type="text" class="form-control" placeholder="UserName">
                   </div>
                   <div class="input-group mb-3">
                    <span class="input-group-text"></span>
                    <input type="email" class="form-control" placeholder="Email">
                   </div>
                   <div class="input-group mb-3">
                    <span class="input-group-text"></span>
                    <input type="password" class="form-control" placeholder="Password">
                   </div>
                   <div class="input-group mb-3">
                    <span class="input-group-text"></span>
                    <input type="Phone-No" class="form-control" placeholder="Contact">
                   </div>
                   <div class="d-grid">
                    <button type="button" class="btn">Signup</button>
                    <p class="text-center text-muted mb-1">
                        When you register by clicking Signup Button, You Agree to our 
                        <a href="">Terms and Conditions</a> and <a href="#">Privacy Policy</a>
                    </p>
                   </div>
                </form>
            </div>
    </div>
