<div class="container" style="width: 80vw;">
    <div>
        <h2>Change Password</h2>
        </div>
        <br>
    <form (ngSubmit)="onSubmit()">
        <div class="mb-3">
            <label for="email" class="label">Email</label>
            <input type="email" class="form-control" id="email"  name="Email" [(ngModel)]="Email">
        </div>
        <div class="mb-3">
            <label for="oldpassword" class="label">Old Password</label>
            <input type="password" class="form-control" id="oldpassword"  name="OldPassword" [(ngModel)]="OldPassword">
        </div>
        <div class="mb-3">
            <label for="newpassword" class="label">New Password</label>
            <input type="password" class="form-control" id="newpassword"  name="New Password" [(ngModel)]="NewPassword">
        </div>
        <div>
            <input type="submit" class="btn" value="Save">
            </div>
    </form>

</div>