<div class="container">
    <div class="text center mb-4">
        <h2 class="text-center pt-3">Change Password</h2>
    </div>
    <form >
        <div class="mb-3">
            <input type="text" class="form-control" id="oldpassword" placeholder="Old Password" name="OldPassword" [(ngModel)]="OldPassword">
        </div>
        <div class="mb-3">
            <input type="text" class="form-control" id="newpassword" placeholder="New Password" name="NewPassword" [(ngModel)]="NewPassword">
        </div>
        <div class="mb-3">
            <input type="text" class="form-control" id="Confrim" placeholder="Confrim" name="Confrim" [(ngModel)]="Confrim">
        </div>
        <div class="d-grid">
            <input type="submit" class="btn" value="Add">
            </div>
    </form>

</div>