<div class="container" style="width: 100vw;">
    <div>
        <h2>Change Password</h2>
        </div>
        <br>
    <form (ngSubmit)="onSubmit()">
        <div class="mb-3">
            <input type="email" class="form-control" id="email" placeholder="Email" name="Email" [(ngModel)]="Email">
        </div>
        <div class="mb-3">
            <input type="password" class="form-control" id="oldpassword" placeholder="Old Password" name="OldPassword" [(ngModel)]="OldPassword">
        </div>
        <div class="mb-3">
            <input type="password" class="form-control" id="newpassword" placeholder="New Password" name="New Password" [(ngModel)]="NewPassword">
        </div>
        <div>
            <input type="submit" class="btn" value="Save">
            </div>
    </form>

</div>