<link rel="stylesheet" href="task-display.component.css">


<div class="container" >
    <div>
        <h3>Task</h3>
    </div>
    <br>
    <a href="taskadd" class="btn btn-primary">Add</a>
    <br>
    <br>
    <table class="table table-striped ">
        <thead class="thead-inverse">
            <tr>
                <td>Task Date</td>
                <td>User Id</td>
                <td>Project Id</td>
                <td>Status Id</td>
                <td>Expected Time</td>
                <td>Actual Time</td>
                <td>Due Date</td>
                <td>Complete Date</td>
                
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let task of tasks ">
                <td> {{ task.taskdate}} </td>
                <td> {{ task.userid }} </td>
                <td> {{ task.projectid }} </td>
                <td> {{ task.statusid }} </td>
                <td> {{ task.expectedtime }} </td>
                <td> {{ task.actualtime }} </td>
                <td> {{ task.duedate }} </td>
                <td> {{ task.completedate }} </td>
                <td><button type="button" class="btn btn-primary" routerLink="..//localhost:9090/user">Edit</button>
                </td>
                <td><button type="button" class="btn btn-danger"  (click)='removeClick(task.taskid)'>Delete</button></td>
            </tr>
        </tbody>
    </table>
</div>