<link rel="stylesheet" href="task-display.component.css">

<div class="container" style="width:100vw">
    <div>
        <h3>Task</h3>
    </div>
    <br>
    <a href="taskadd" class="btn">Add</a>
    <br>
    <br>
    <table class="table table-striped ">
        <thead class="thead-inverse">
            <tr>
                <th>Task Date</th>
                <th>User Id</th>
                <th>Project Id</th>
                <th>Status Id</th>
                <th>Expected Time</th>
                <th>Actual Time</th>
                <th>Due Date</th>
                <th>Complete Date</th>
                <th>Edit</th>
                <th>Delete</th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let task of tasks ">
                <td> {{ task.taskdate}} </td>
                <td> {{ task.userid }} </td>
                <td> {{ task.projectid }} </td>
                <td> {{ task.statusid }} </td>
                <td> {{ task.expectedtime }} </td>
                <td> {{ task.actualtime }} </td>
                <td> {{ task.duedate }} </td>
                <td> {{ task.completedate }} </td>
                <td><button type="button" id="boot-icon" class="bi bi-pencil-square" style="font-size: 25px; border: 0px ; color: rgb(38, 101, 227); background: none;" routerLink="../taskadd" [queryParams]="{id: task.taskid}"></button></td>
                <td><button type="button" id="boot-icon" class="bi bi-trash" style="font-size: 25px; border: 0px solid; color:rgb(192 60 73); background: none;" (click)='removeClick(task.taskid)'></button></td>
            </tr>
        </tbody>
    </table>
</div>