<link rel="stylesheet" href="client-display.component.css">


<div class="container" style="width:100vw">
    <div>
        <h3>Client</h3>
    </div>
    <br>
    <a href="clientadd" class="btn btn-primary">Add</a>
    <br>
    <br>
    <table class="table table-striped ">
        <thead class="thead-inverse">
            <tr>
                <th>Client Name</th>
                <th>Email</th>
                <th>Contact</th>
                
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let client of clients">
                <td> {{ client.clientname }} </td>
                <td> {{ client.email }} </td>
                <td> {{ client.contact }} </td>
                <td><button type="button" class="btn btn-primary" routerLink="..//localhost:9090/user">Edit</button></td>
                <td><button type="button" class="btn btn-danger"  (click)='removeClick(client.id)'>Delete</button></td>
            </tr>
        </tbody>
    </table>
</div>