<link rel="stylesheet" href="client-display.component.css">


<div class="container" style="width:100vw">
<div>
    <h3>Client</h3>
</div>
<br>
<button type="button" class="btn btn-primary"  routerLink="">Add</button>
<br>
<br>
<table class="table table-striped" id="tblclient">
 
    <thead class="thead">
        <tr>
            <th>Edit</th>
            
            <th>Client Name</th>
            <th>Email</th>
            <th>Contact</th>
            <th>Delete</th>
        </tr>
        <tr>
            <td></td>
            <td>Peter</td>
            <td>Griffin</td>
            <td>$100</td>
            <td></td>
        </tr>
            <tr>
                <td></td>
            <td>Lois</td>
            <td>Griffin</td>
            <td>$150</td>
            <td></td>
        </tr>
            <tr>
                <td></td>
            <td>Joe</td>
            <td>Swanson</td>
            <td>$300</td>
            <td></td>
            </tr>
    </thead>
</table>
</div>