<link rel="stylesheet" href="client-display.component.css">
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>


<div class="container" style="width:100vw">
    <div>
        <h3>Client</h3>
    </div>
    <br>
    <button type="button" class="btn" routerLink="../clientadd">Add</button>
    <br>
    <br>
    <table class="table table-striped ">
        <thead class="thead-inverse">
            <tr>
                <th>Client Name</th>
                <th>Email</th>
                <th>Contact</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let client of clients">
                <td> {{ client.clientname }} </td>
                <td> {{ client.email }} </td>
                <td> {{ client.contact }} </td>
                <td><input type="button"  value="Edit" src="../../assets/edit.png" class="btn"  width="24" routerLink="../clientadd" [queryParams]="{id: client.clientid}"   /></td>
                <td><button type="button" class="btn" width="24" (click)='removeClick(client.clientid)'>Delete</button></td>
            </tr>
        </tbody>
    </table>
</div>