    <div class="container">
    
            <div class="col-lg-4 m-auto rounded-top wrapper">
                <div class="text-center mb-4">
                <h2 class="text-center pt-3">Sign In</h2>
                </div>
                <form (ngSubmit)="submit()" #addForm="ngForm">
                   <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="username" name="User Name" placeholder="Email" name="Email" [(ngModel)]="Email">
                    <label for="floatingInput">Email</label>
                   </div>
                   <div class="form-floating mb-1">
                    <input type="password" class="form-control" id="password" name="Password" placeholder="Password" name="Password" [(ngModel)]="Password">
                    <label for="floatingInput">Password</label>
                   </div>
                <div class="input-group mb-3"></div>
                   <div class="d-grid">
                    <input type="submit"  class="btn" value="Login" id="mainBtn">
                    
                    <h6 for="" style="color: darkred ;"  name="Error" >{{ this.Error}}</h6>
                    
                    <p class="text-center text-muted mb-1">Create Account <a href="signup">Signup Now</a></p>
                   </div>

                </form>
            </div>
    
    </div>
