<div class="s-layout">
  <!-- Sidebar -->
 
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
  <nav class="s-sidebar__nav">
        <div class="s-layout__sidebar">
      <a class="s-sidebar__trigger ">
        <i id="boot-icon" class="bi bi-three-dots-vertical" style="-webkit-text-stroke-width: 1.5px;"></i>
        Services
      </a>

      <h2 class="service">
        Services
      </h2>
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="client" routerLinkActive="active-link"
            [routerLinkActiveOptions]="{exact:true}">Client</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="project" routerLinkActive="active-link">Project</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="task" routerLinkActive="active-link">Task</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="taskhistory" routerLinkActive="active-link">Task History</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="taskstatus" routerLinkActive="active-link">Task Status</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="profile" routerLinkActive="active-link">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="changepassword" routerLinkActive="active-link">Change Password</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="logout" routerLinkActive="active-link" (click)='onLogout()'>Log Out</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="s-layout__content " style="width:100%">
    <router-outlet></router-outlet>
  </div>