<div class="s-layout">
  <!-- Sidebar -->
  
  
    <nav class="s-sidebar__nav">
      <div class="s-layout__sidebar">
        <a class="s-sidebar__trigger" href="#0">
          <i class="fa fa-bars"></i>
        </a>
        <div class="service">
          Services
        </div>
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="client" routerLinkActive="active-link"
              [routerLinkActiveOptions]="{exact:true}">Client</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="task" routerLinkActive="active-link">Task</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="taskstatus" routerLinkActive="active-link">Task Status</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="taskhistory" routerLinkActive="active-link">Task History</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="project" routerLinkActive="active-link">Project</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="profile" routerLinkActive="active-link">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="changepassword" routerLinkActive="active-link">Change Password</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="logout" routerLinkActive="active-link">Log Out</a>
          </li>
        </ul>
      </div>
      <router-outlet></router-outlet>
  