<div class="container" style="width:80vw">
  <div>
      <h3>Task History</h3>
  </div>
  <br>
    <div class="d-flex justify-content-between">
      <div>
        
      </div>
      <div>
        <input type="text" id="search-input" placeholder="Search" [(ngModel)]="searchText" style="height: 36px; margin-right: 5px;">
        <span class="input-group-btn">
          <button class="btn " type="button" (click)="searchData()">Search</button>
        </span>
      </div>
    </div>
      <br>
  <table class="table table-striped ">
      <thead class="thead-inverse">
          <tr>
              <th>Task </th>
              <th>Change Date</th>
              <th>FromStatus </th>
              <th>ToStatus </th>
             
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let history of filteredhistories | paginate: { itemsPerPage: 9, currentPage: p }">
              <td> {{ history.description}} </td>
              <td> {{ history.changedate }} </td>
              <td> {{ history.fromstatusid }} </td>
              <td> {{ history.tostatusid }} </td>
          </tr>
      </tbody>
  </table>
  <br>
  <br>
  <br>
  <div class="d-flex justify-content-center">
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>
