<link rel="stylesheet" href="taskhistory.component.css">


<div class="container" style="width:100vw">
    <div>
        <h3>Task History</h3>
    </div>
    <br>
    <br>
    <table class="table table-striped ">
        <thead class="thead-inverse">
            <tr>
                <th>Task </th>
                <th>Change Date</th>
                <th>FromStatus </th>
                <th>ToStatus </th>
               
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let history of histories ">
                <td> {{ history.tbltask.taskdate }} </td>
                <td> {{ history.changedate }} </td>
                <td> {{ history.statusid }} </td>
                <td> {{ history.completeddate }} </td>
                <td><button type="button" class="btn btn-primary" routerLink="..//localhost:9090/user">Edit</button>
                </td>
                <td><button type="button" class="btn btn-danger">Delete</button></td>

            </tr>
        </tbody>
    </table>
</div>