<div class="container" style="width:100vw">
    <div>
        <h2>Project information</h2>
    </div>
    <br>
    <div>
        <button type="button" class="btn" routerLink="../project">View</button>
    </div>
    <form (ngSubmit)="OnSubmit()" #addForm="ngForm">
        <div class="mb-3">
            <label for="projectname" class="label">Project Name</label>
            <input type="text" class="form-control" id="projectname" name="ProjectName"
                [(ngModel)]="ProjectName">
        </div>
        <div class="mb-3">
            <label for="projectid" class="label">Client</label>
            <select class="form-select" id="clientid" name="ClientId" [(ngModel)]="ClientId">
                <option *ngFor="let client of Client" [value]="client.clientid">{{ client.clientname }}</option>
            </select>
        </div>
        <div>
            <input type="submit" class="btn" value="Save">
        </div>
    </form>
</div>